.company-presentation {
  margin: 5rem 0;
  background-color: #eee;
  font-size: 1.4rem;
  &__video-box {
    width: 100%;
    height: 50rem;
    margin: 5rem auto;
  }
  &__info {
    text-align: center;
    &--text {
      text-align: center;
      color: #666;
      margin: 3rem 0;
    }
  }
}
