.recent-projects {
  margin: 3rem 0;
  &__grid-gallery {
    @include grid(3, 5px);
    @include md {
      grid-gap: 2rem;
    }
    & > a > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    a:first-child {
      grid-area: 1/1/3/3;
    }

    a:last-child {
      grid-area: 3/2/3/4; //grid-row-start grid-row-end grid-col-start grid-column-end.
    }
  }
}
